h3{
    color:green;
    letter-spacing: 2px;

}

.pantalla{
    background-color: #cccc;
    /* border-bottom: 5px solid #5ca86f; */
    font:normal bold 18px;
    text-transform: uppercase;
    border-radius: 6px;
    box-shadow: 4px 0px 2px #5ca86f;
}

button{
    margin: 16px;
}